.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #282c34;
  color: white;
  text-align: center;
  height: 100%;
}

.App-header,
.App-footer {
  padding: 20px;
}

.App-header {
  font-size: 2.25em;
  line-height: 2.5em;
}

.App-content {
  flex: 1 0 auto;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25em;
  line-height: 1.5em;
  align-content: stretch;
  flex-shrink: 0;
  padding: 20px;
}

.App-footer .score,
.App-footer .time {
  flex: 1 1 auto;
}

.App-footer .score {
  flex: 1 1 auto;
}

@media only screen and (max-width: 480px) {
  .App-header {
    font-size: 1.5em;
    line-height: 1.75em;
  }

  .App-footer {
    text-align: left;
  }

  .App-footer .score,
  .App-footer .time {
    flex: 1 1 100%;
  }
}
