.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #282c34;
  color: white;
  text-align: center;
  height: 100%;
}

.App-header {
  font-size: calc(10px + 2vmin);
  height: 75px;
}

.App-content {
  flex: 1 0 auto;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  display: flex;
  align-content: stretch;
  flex-shrink: 0;
  padding: 20px
}

.App-footer .score,
.App-footer .time {
  flex: 1 1 auto;
}

.App-footer .score {
  flex: 1 1 auto;
}
